*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.config
*~
*/*~
*/*/*~
*.bak
*/*.bak
*/*/*.bak
.#*
*/.#*
*/*/.#*
rhosts
montage*/?
montage*/*.fits
montage*/*.jpg
montage*/*.jpeg
montage*/*.tbl
montage*/*.log
montage*/*.csv
montage*/*.dat
montage*/*.png
montage*/log*
montage*/hosts*